$widthList: 300px;

.list-post {
    display: flex;
    flex-wrap: wrap;

    li {
        width: $widthList;

        .button-list__post {
            width: $widthList;
            overflow: hidden;
            
            .title__post {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}